backup-07-09-v2.txt
backup-08-09-v2.txt
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/command_handlers.cpython-312.pyc
src/__pycache__/data.cpython-312.pyc
src/__pycache__/helpers.cpython-312.pyc
src/__pycache__/repl.cpython-312.pyc
.idea/misc.xml
.idea/modules.xml
.idea/repl-space-miner.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
src/classes/__pycache__/__init__.cpython-312.pyc
src/classes/__pycache__/asteroid.cpython-312.pyc
src/classes/__pycache__/game.cpython-312.pyc
src/classes/__pycache__/interfaces.cpython-312.pyc
src/classes/__pycache__/ore.cpython-312.pyc
src/classes/__pycache__/ship.cpython-312.pyc
src/classes/__pycache__/solar_system.cpython-312.pyc
src/classes/__pycache__/station.cpython-312.pyc
backup/pygameterm/__pycache__/__init__.cpython-312.pyc
backup/pygameterm/__pycache__/color_data.cpython-312.pyc
backup/pygameterm/__pycache__/terminal.cpython-312.pyc
backup/pygameterm/tests/__pycache__/terminal_tests.cpython-312.pyc
repl-space-miner-ptterminal.zip
backup-11-09-v2.txt
RMS_linux_x86_64
RMS_macos_arm64
RMS_macos_x86_64
RMS_windows_x86_64.exe
repl-space-miner-ptterminal.zip
RMS_linux64.spec
RMS_macos64.spec
RMS_windows64.spec
.idea/.gitignore
RSM_linux64.spec
RSM_win64.spec
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/warn-main.txt
build/main/PYZ-00.toc
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
build/RSM_linux64/Analysis-00.toc
build/RSM_linux64/base_library.zip
build/RSM_linux64/EXE-00.toc
build/RSM_linux64/PKG-00.toc
build/RSM_linux64/PYZ-00.pyz
build/RSM_linux64/PYZ-00.toc
build/RSM_linux64/RSM_linux64.pkg
build/RSM_linux64/warn-RSM_linux64.txt
build/RSM_linux64/xref-RSM_linux64.html
build/RSM_linux64/localpycs/pyimod01_archive.pyc
build/RSM_linux64/localpycs/pyimod02_importers.pyc
build/RSM_linux64/localpycs/pyimod03_ctypes.pyc
build/RSM_linux64/localpycs/struct.pyc
build/RSM_win64/Analysis-00.toc
build/RSM_win64/base_library.zip
build/RSM_win64/EXE-00.toc
build/RSM_win64/PKG-00.toc
build/RSM_win64/PYZ-00.pyz
build/RSM_win64/PYZ-00.toc
build/RSM_win64/RSM_win64.pkg
build/RSM_win64/warn-RSM_win64.txt
build/RSM_win64/xref-RSM_win64.html
build/RSM_win64/localpycs/pyimod01_archive.pyc
build/RSM_win64/localpycs/pyimod02_importers.pyc
build/RSM_win64/localpycs/pyimod03_ctypes.pyc
build/RSM_win64/localpycs/pyimod04_pywin32.pyc
build/RSM_win64/localpycs/struct.pyc
dist/RMS_linux64--alpha.zip
dist/RMS_win64-pre--alpha.zip
dist/RSM_linux64
dist/RSM_win64.exe
DesignDocument
backup-16-10.txt
src/__pycache__/events.cpython-312.pyc
.vscode/.c3-extension-settings.json
.vscode/settings.json
src/__pycache__/events.cpython-312.pyc
Why are we still here？.webm
src/__pycache__/events.cpython-312.pyc
/backup/
src/__pycache__/__init__.cpython-313.pyc
src/__pycache__/command_handlers.cpython-313.pyc
src/__pycache__/data.cpython-313.pyc
src/__pycache__/events.cpython-313.pyc
src/__pycache__/helpers.cpython-313.pyc
src/__pycache__/repl.cpython-313.pyc
src/classes/__pycache__/__init__.cpython-313.pyc
src/classes/__pycache__/asteroid.cpython-313.pyc
src/classes/__pycache__/game.cpython-313.pyc
src/classes/__pycache__/ore.cpython-313.pyc
src/classes/__pycache__/ship.cpython-313.pyc
src/classes/__pycache__/solar_system.cpython-313.pyc
src/classes/__pycache__/station.cpython-313.pyc

save

**/__pycache__/
**/.mypy_cache/

merger.py
game.txt
.github
.vscode
*.zip
.ruff_cache/